body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #727175;
}

.nav-link {
    font-size: 14px;
}

.navbar-light .navbar-nav .nav-link {
    color: #211915;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #727175;
}

.btn {
    font-size: 13px;
    border-radius: 0;
    padding: 7px 18px;
}

.gris1 {
    background-color: #ecedef;
}

.gris2 {
    background-color: #f6f6f7;
}

h3 {
    font-weight: 900;
    color: #aeaeb3;
}

:focus-visible {
    outline: none;
}

button:focus {
    outline: none;
}

.barraMenu {
    height: 15px;
}

.fondoClaro {
    background-color: #f6f5f5;
}

.fondoBlanco {
    background-color: #fff;
}

.altProducto {
    height: 250px;
}

.grisMedio {
    background-color: #ecedef;
}

.taco {
    height: 80px;
}

h6 {
    font-weight: 700;
    font-size: 13px;
}

.btn-primary {
    background-color: #f6f5f5;
    border: solid 1px #000;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 12px;
}

.btn-primary:hover {
    background-color: #211915;
    border-color: #211915;
}

.btn-secondary {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
}

.btn-dark {
    padding: 8px 25px;
    font-weight: 700;    
}

label {
    font-weight: 700;
    font-size: 13px;
}

.form-control {
    background-color: #f6f5f5;
    border-color: #000;
}

.form-control:focus {
    box-shadow: none;
    background-color: #f6f5f5;
    border-color: #000;
}

.btn-dark {
    background-color: #000;
}

.trece {
    font-size: 13px;
}

.catorce {
    font-size: 14px;
}

.logo {
    width: 70px;
    height: auto;
}

.top {
    font-size: 35px;
}

.mascara:hover .escala {
    transform: scale(1.02);
    opacity: 70%
		
}

.mascara .escala {
    transition: all ease-in .5s;
}

.mascara h3 {
    opacity: 0%;
	transition: all ease-in .5s;
}

.mascara:hover h3 {
    opacity: 100%;
	transition: all ease-in .5s;
}

footer {
    background-color: #000;
}

footer a {
    color: #fff;
    font-size: 14px;
}

footer .form-control {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0;
}

.navbar-toggler {
    border: none;
    font-size: 20px;
}

.transparencia {
    opacity: 15%;
}

h1 {
    font-size: 68px;
}